<section class="about">
  <div class="container">
    <!-- <h2>About me</h2> -->
        <div class="wrapper-title-img">
          <div class="wrapper-about-title">
            <h3>
              I work with people all over the world to create impressive and
              <span class="title-red">functional</span>
              <span class="title-light-brown">websites</span> that reflect each
              client's unique personality.
            </h3>
          </div>
          <div class="wrapper-about-img">
            <picture>
              <source
                media="(min-width: 1439.98px)"
                srcset="../img/about-me/desc/loyd-photo.png   1x,
                  ../img/about-me/desc/loyd-photo@2x.png 2x
                "
              />
              <source
                media="(min-width: 767.98px)"
                srcset="
                  ../img/about-me/tablet/loyd-photo.png 1x,
                  ../img/about-me/tablet/loyd-photo@2x.png  2x
                "
              />
              <source
                media="(max-width: 374.98px)"
                srcset="
                  ../img/about-me/mobile/loyd-photo.png    1x,
                  ../img/about-me/mobile/loyd-photo@2x.png 2x
                "
              />
              <img
                src="../img/about-me/mobile/loyd-photo.png"
                alt="Lloyd Jefferson"
                width="343"
                height="500"
              />
            </picture>
          </div>
        </div>
    <div class="experience">
      <ul class="experience-list">
        <li class="experience-item about-me">
          <div class="wrapper-item-top">
            <h4>About me</h4>
            <button
              class="button-experience1"
              type="button"
              aria-label="Slider button"
            >
              <svg class="slider-arrow" width="18" height="18">
                <use href="../img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="wrapper-text accordion-container">
            <p class="about-me-desc">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="about-me-desc">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="experience-item role">
          <div class="wrapper-item-top">
            <h4>Role</h4>
            <button
              class="button-experience"
              type="button"
              aria-label="Slider button"
            >
              <svg class="slider-arrow" width="18" height="18">
                <use href="../img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="wrapper-text">
            <p>Frontend development</p>
            <p>HeadlessCMS,Wordpress</p>
            <p>Blender(enjoy)</p>
          </div>
        </li>
        <li class="experience-item education">
          <div class="wrapper-item-top">
            <h4>Education</h4>
            <button
              class="button-experience"
              type="button"
              aria-label="Slider button "
            >
              <svg class="slider-arrow" width="18" height="18">
                <use href="../img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="wrapper-text">
            <p>
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
            <p>
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
            <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="skills">
      <div class="wrapper-skills-list">
        <ul class="skills-list">
          <li class="skills-item">HTML/CSS</li>
          <li class="skills-item">JavaScript</li>
          <li class="skills-item">Node. js</li>
          <li class="skills-item">React Native</li>
          <li class="skills-item">Soft skills</li>
          <li class="skills-item">React</li>
        </ul>
      </div>
      <button
        class="button-skills-arrow"
        type="button"
        aria-label="Slider button "
      >
        <svg class="skills-arrow" width="28" height="28">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
