<section id="covers" class="covers-section">
  <div class="container covers">
    <h1 class="visually-hidden">Covers</h1>

    <div class="covers-rows">
      <div class="row">
        <ul class="covers-projects">
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-1.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-1@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-1.png"
                  alt="Project 1"
                />
              </picture>
            </a>
          </li>
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-3.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-3@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-3.png"
                  alt="Project 3"
                />
              </picture>
            </a>
          </li>
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-2.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-2@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-2.png"
                  alt="Project 2"
                />
              </picture>
            </a>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="covers-projects">
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-4.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-4@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-4.png"
                  alt="Project 4"
                />
              </picture>
            </a>
          </li>
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-6.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-6@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-6.png"
                  alt="Project 6"
                />
              </picture>
            </a>
          </li>
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-7.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-7@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-7.png"
                  alt="Project 7"
                />
              </picture>
            </a>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="covers-projects">
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-8.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-8@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-8.png"
                  alt="Project 8"
                />
              </picture>
            </a>
          </li>
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-9.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-9@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-9.png"
                  alt="Project 9"
                />
              </picture>
            </a>
          </li>
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-10.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="../img/covers/project-10@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-10.png"
                  alt="Project 10"
                />
              </picture>
            </a>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="covers-projects">
          <li class="cover-item animate">
            <a class="covers-link" href="">
              <picture>
                <source
                  srcset="./img/covers/project-11.png"
                  media="(max-width: 320px)"
                />
                <source
                  srcset="./img/covers/project-11@2x.png"
                  media="(max-width: 1200px)"
                />
                <img
                  class="covers-image"
                  src="./img/covers/project-11.png"
                  alt="Project 11"
                />
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
