<section class="faq section" id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="faq-border">
      <div class="faq-accordion-container">
    <ul class="faq-list ">
      <li>
        <div class="faq-heading">
          <button type="button" class="ac-trigger heading">What programming languages ​​are most often used in your project?
          
          <button type="button" class="accordion-btn">
            <svg width="10" height="10">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </button>
        </div>
        <p class="faq-content is-hidden">
          In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.        </p>
      </li>
      <li>
        <div class="faq-heading">
          <button type="button" class="ac-trigger heading">How can I contact you?
          
          <button type="button" class="accordion-btn">
            <svg width="10" height="10">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </button>
        </div>
        <p class="faq-content is-hidden">
          In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li>
        <div class="faq-heading">
          <button type="button" class="ac-trigger heading">What are the deadlines for the project?
          
          <button type="button" class="accordion-btn">
            <svg width="10" height="10">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </button>
        </div>
        <p class="faq-content is-hidden">
          The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.
        </p>
      </li>
      <li>
        <div class="faq-heading">
          <button type="button" class="ac-trigger heading">Do you provide advice or support?
          
          <button type="button" class="accordion-btn">
            <svg width="10" height="10">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </button>
        </div>
        <p class="faq-content is-hidden">
          The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.       
        </p>
      </li>
      <li>
        <div class="faq-heading">
          <button type="button" class="ac-trigger heading"> What payment methods do you accept?
          
          <button type="button" class="accordion-btn">
            <svg width="10" height="10">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </button>
        </div>
        <p class="faq-content is-hidden">
          Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.        </p>
      </li>
      <li>
        <div class="faq-heading">
          <button type="button" class="ac-trigger heading">What does the process of developing a software product look like from idea to implementation? 
          <button type="button" class="accordion-btn">
            <svg width="10" height="10">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </button>
        </div>
        <p class="faq-content is-hidden">
          Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.      
        </p>
        </li>
    </div>
    </ul>
  </div>
  </div>
</section>
