<div class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">
        <img
          src="./img/header/logo.png"
          srcset="./img/header/logo.png 1x, ./img/header/logo@2x.png 2x"
          alt="Logo"
        />

        <span>jefferson*</span>
      </a>

      <span class="menu-text">Menu</span>
      <div class="background"></div>

      <ul class="header-menu">
        <li><a href="#about-me">About me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="./index.html">Projects</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>

      <a href="#work-together" class="order-btn">Order the project</a>
    </nav>
    <button
      class="menu-open_btn"
      type="button"
      id="menu-open_btn"
      title="Button for open mobile menu"
    >
      <svg class="menu-open_icon" width="32" height="32">
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->

  <div class="mobile-menu" id="mobile-menu">
    <button
      type="button"
      class="close-btn"
      id="close-mobile-menu"
      name="Close mobile menu"
    >
      <svg class="close-btn-img" width="32" height="32">
        <use href="./img/icons.svg#icon-mobile-menu-close"></use>
      </svg>
    </button>

    <nav class="mobile-navigation">
      <ul class="mobile-header-menu">
        <li class="mobile-header-menu-item">
          <a class="mobile-header-menu-link" href="#about-me">About me</a>
        </li>
        <li class="mobile-header-menu-item">
          <a class="mobile-header-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-header-menu-item">
          <a class="mobile-header-menu-link" href="./index.html">Projects</a>
        </li>
        <li class="mobile-header-menu-item">
          <a class="mobile-header-menu-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>

    <a href="#work-together" class="order-btn-mobile">Order the project</a>
  </div>
</div>
