<section class="hero">
  <div class="container">
    <h1 class="hero-title">Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
    <ul class="hero-links-list">
      <li class="hero-links-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-social-link"
          target="_blank"
          >IG</a
        >
      </li>
      <li class="hero-links-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-social-link"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="hero-links-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero-social-link"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="hero-links-item">
        <a
          href="https://host9rror.github.io/projectJSBenders12/"
          class="hero-social-link"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="hero-links-item hero-item-email">
        <a href="mailto:lloydjefferson@gmail.com" class="hero-social-link"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
