<section class="project">
    <div class="project-content conteiner">
        <h2 class="project-title">PROJECTS</h2>
        <div class="project-main-part">
            <ul class="project-list">
                <li class="project-list-item">#react</li>
                <li class="project-list-item">#js</li>
                <li class="project-list-item">#node js</li>
                <li class="project-list-item">#git</li>
            </ul>
            <h3 class="project-content-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <button class="project-conent-btn">See project</button>
        </div>

        <div class="project-box">
            <img class="project-box-image" src="./img/projects/mobile/proj-1.png" alt="photo_1">
        </div>
    </div>


    <div class="project-arrow">
        <button class="project-arrow-btn">
            <svg class="arrow-left"  >
                <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
            </svg>
        </button>
        <button class="project-arrow-btn">
            <svg class="arrow-rigth"  >
                <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
            </svg>
        </button>
    </div>
</section>