
<section class="project" id="project">
  <div class="swiper-container">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="project-content container">
          <h2 class="project-title">PROJECTS</h2>
          <div class="project-main-part">
            <ul class="project-list">
              <li class="project-list-item">#react</li>
              <li class="project-list-item">#js</li>
              <li class="project-list-item">#node js</li>
              <li class="project-list-item">#git</li>
            </ul>
            <h3 class="project-content-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <button class="project-content-btn">See project</button>
          </div>
          <div class="project-box">
            <img class="project-box-image" src="./img/projects/mobile/proj-1.png" alt="photo_1" />
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="project-content container">
          <h2 class="project-title">PROJECTS</h2>
          <div class="project-main-part">
            <ul class="project-list">
              <li class="project-list-item">#java</li>
              <li class="project-list-item">#android</li>
              <li class="project-list-item">#firebase</li>
              <li class="project-list-item">#restapi</li>
            </ul>
            <h3 class="project-content-title">
              Mobile App Development: Java, Android, Firebase, REST API
            </h3>
            <button class="project-content-btn">See project</button>
          </div>
          <div class="project-box">
            <img class="project-box-image" src="./img/projects/mobile/proj-3.png" alt="photo_3" />
          </div>
        </div>
      </li>
    </ul>
    <div class="project-arrow">
      <button class="project-arrow-btn arrow-left">
        <svg class="arrow-left">
          <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="project-arrow-btn arrow-right">
        <svg class="arrow-right">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
