<section class="project-section" id="project-id">
  <div class="container">
    <h2 class="project-title">PROJECTS</h2>

    <!-- <div class="project-swiper"> -->
      <div class="project">
      <ul class="project-swiper-wraper project-main-list">
        
        <li class="project-swiper-slide project-left">
          <div class="project-content">
            <div class="project-main-part">
              <ul class="project-list">
                <li class="project-list-item">#react</li>
                <li class="project-list-item">#js</li>
                <li class="project-list-item">#node js</li>
                <li class="project-list-item">#git</li>
              </ul>
              <h3 class="project-content-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <button class="project-content-btn">
                <a href="https://github.com/host9rror/projectJSBenders12">See project</a>
              </button>
            </div>
            <div class="project-box">
              <img class="project-box-image" src="./img/projects/mobile/proj-1.png" alt="photo_1" />
            </div>
          </div>
        </li>
`
        
        <li class="project-swiper-slide">
          <div class="project-content">
            <div class="project-main-part">
              <ul class="project-list">
                <li class="project-list-item">#java</li>
                <li class="project-list-item">#android</li>
                <li class="project-list-item">#firebase</li>
                <li class="project-list-item">#restapi</li>
              </ul>
              <h3 class="project-content-title">
                Mobile App Development: Java, Android, Firebase, REST API
              </h3>
              <button class="project-content-btn">
                <a href="https://github.com/host9rror/projectJSBenders12">See project</a>
              </button>            
            </div>
            <div class="project-box">
              <img class="project-box-image" src="./img/projects/mobile/proj-2.png" alt="photo_2" />
            </div>
          </div>
        </li>

        <li class="project-swiper-slide">
          <div class="project-content">
            <div class="project-main-part">
              <ul class="project-list">
                <li class="project-list-item">#java</li>
                <li class="project-list-item">#android</li>
                <li class="project-list-item">#firebase</li>
                <li class="project-list-item">#restapi</li>
              </ul>
              <h3 class="project-content-title">
                Mobile App Development: Java, Android, Firebase, REST API
              </h3>
              <button class="project-content-btn">
                <a href="https://github.com/host9rror/projectJSBenders12">See project</a>
              </button>            </div>
            <div class="project-box">
              <img class="project-box-image" src="./img/projects/mobile/proj-3.png" alt="photo_3" />
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="swiper-scrollbar"></div>

    <div class="project-arrow">
      <button class="project-arrow-prev project-button-nawigation">
        <svg class="arrow-left">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      <button class="project-arrow-next project-button-nawigation">
        <svg class="arrow-right">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>