<!-- REVIEWS SECTION -->
<section class="reviews-section" id="reviews-id">
  <div class="container reviews">
    <h2 class="reviews-title">REVIEWS</h2>

    <div class="reviews-swiper-container swiper-container">
      <div class="swiper-wrapper">
        <ul class="reviews-list">
          <li class="swiper-slide reviews-item">
            <div class="reviews-card">
              <img
                class="photo"
                srcset="
                  ./img/reviews/Natalia.png    1x,
                  ./img/reviews/Natalia@2x.png 2x
                "
                src="./img/reviews/Natalia.png"
                alt="photo of Natalia"
                width="48"
                height="48"
              />
              <div class="div-reviews-info">
                <h3 class="reviews-person-name">Natalia</h3>
                <p class="reviews-person-info">
                  Work with was extraordinary! He turned out to be a very
                  competent and responsible specialist. The projects were
                  completed on time and the result exceeded my expectations
                </p>
              </div>
            </div>
          </li>

          <li class="swiper-slide reviews-item">
            <div class="reviews-card">
              <img
                class="photo"
                srcset="
                  /img/reviews/Dmytro.png    1x,
                  /img/reviews/Dmytro@2x.png 2x
                "
                src="/img/reviews/Dmytro.png"
                alt="photo of Dmytro"
                width="48"
                height="48"
              />
              <div class="div-reviews-info">
                <h3 class="reviews-person-name">Dmytro</h3>
                <p class="reviews-person-info">
                  I have the honor to recommend him as an exceptional
                  professional in his field. His knowledge and expertise are
                  undeniable. Cooperation with him always brings impressive
                  results.
                </p>
              </div>
            </div>
          </li>

          <li class="swiper-slide reviews-item">
            <div class="reviews-card">
              <img
                class="photo"
                srcset="/img/reviews/Anna.png 1x, /img/reviews/Anna@2x-1.png 2x"
                src="/img/reviews/Anna.png"
                alt="photo of Anna"
                width="48"
                height="48"
              />
              <div class="div-reviews-info">
                <h3 class="reviews-person-name">Anna</h3>
                <p class="reviews-person-info">
                  The developed project impresses with its quality and
                  efficiency. The code is cleanly written and the functionality
                  exceeds expectations. Extremely satisfied with the
                  cooperation!
                </p>
              </div>
            </div>
          </li>

          <li class="swiper-slide reviews-item">
            <div class="reviews-card">
              <img
                class="photo"
                srcset="
                  /img/reviews/Ivetta.png    1x,
                  /img/reviews/Ivetta@2x.png 2x
                "
                src="/img/reviews/Ivetta.png"
                alt="photo of Ivetta"
                width="48"
                height="48"
              />
              <div class="div-reviews-info">
                <h3 class="reviews-person-name">Ivetta</h3>
                <p class="reviews-person-info">
                  Thanks for the excellent work on the project! His talent and
                  professionalism deserve recognition. I recommend it to
                  everyone who is looking for an expert in the field of software
                  development.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="reviews-button">
        <ul class="reviews-btn-list">
          <button type="button" class="btn-arrow-left">
            <svg class="arrow-left-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>

          <button type="button" class="btn-arrow-right">
            <svg class="arrow-right-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </ul>
      </div>
    </div>
  </div>
</section>
