<section class="reviews-section" id="reviews-id">
  <div class="container reviews">
    <h2 class="reviews-title">REVIEWS</h2>

    <div class="reviews-swiper-container swiper-container">
      <div class="reviews-wrapper swiper-wrapper">
        <ul class="reviews-list"></ul>
      </div>

      <div class="reviews-button">
        <button type="button" class="btn-arrow-left">
          <svg class="arrow-left-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>

        <button type="button" class="btn-arrow-right">
          <svg class="arrow-right-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
