<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="work-together" class="section-footer">
      <div class="footer-work container">
        <div class="footer-logo">
          <picture class="footer-img">
            <source
              srcset="./img/work-together/lloyd-logo.png  
                    ./img/work-together/lloyd-logo@2x.png"
              media="(min-width: 1440px) "
              type="image/png"
            />
            <source
              srcset="./img/work-together/lloyd-logo.png  
                    ./img/work-together/lloyd-logo@2x.png"
              media="(min-width: 768px) "
              type="image/png"
            />
            <source
              srcset="./img/work-together/lloyd-logo.png  
                    ./img/work-together/lloyd-logo@2x.png"
              media="(min-width:320px)"
              type="image/png"
            />
            <img
              class="footer-img"
              src="./img/work-together/lloyd-logo.png "
              alt="img"
              loading="lazy"
            />
          </picture>
          <h1 class="footer-title">
            Let’s <span class="title-red">work</span>
            <span class="title-white">together</span>
          </h1>
        </div>
        <form class="footer-form">
          <!-- <label> -->
          <input
            class="footer-input-email"
            type="email"
            name="email"
            placeholder="clients@gmail.com"
            required
          />
          <!-- </label> -->
          <!-- <label> -->
          <input
            class="footer-input-comment"
            name="comment"
            placeholder="comments"
            required
          />
          <!--         <textarea name="comment" rows="4" cols="50" required></textarea> -->
          <!-- </label> -->

          <button class="footer-btn" type="submit">Send</button>
        </form>
        <div class="footer-contact-links">
          <button class="footer-contact-btn">
            <a href="mailto:your@email.com">lloydjefferson@gmail.com</a>
          </button>
          <button class="footer-contact-btn">
            <a href="tel:+123456789">+380 11 1111 11 11</a>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
