.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper-title-img {
  margin-bottom: 32px;
}

@media screen and (min-width: 767.98px) {
  .wrapper-title-img {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1439.98px) {
  .wrapper-title-img {
    display: flex;
    row-gap: 16px;
    margin-bottom: 96px;
  }
}

.wrapper-about-title {
  padding: 32px;
  padding-bottom: 0;
  border-radius: 24px;
  min-height: 500px;
  background-color: #242527;
  margin-bottom: 16px;
}

@media screen and (min-width: 767.98px) {
  .wrapper-about-title {
    padding: 64px;
    min-height: 700px;
  }
}

@media screen and (min-width: 1439.98px) {
  .wrapper-about-title {
    width: 680px;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
  }
}

.about h3 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

@media screen and (min-width: 767.98px) {
  .about h3 {
    font-size: 38px;
    line-height: 1.05263;
  }
}

.title-red {
  color: #ed3b44;
}
.title-light-brown {
  color: rgba(250, 250, 250, 0.4);
}

.wrapper-about-img {
  min-height: 500px;
}

@media screen and (min-width: 1439.98px) {
  .wrapper-about-img {
    width: 680px;
    margin-bottom: 0;
    display: inline-block;
  }
}

img {
  width: 100%;
}

/* --------------------experience------------------------- */

.experience-item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2) !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  padding-top: 20px;
  padding-bottom: 32px;
  background-color: transparent !important;
  margin: 0 !important;
}

.experience-item:first-child{
  padding-top: 0;
}

/* @media screen and (min-width: 767.98px) {
  .experience-item {
    padding-bottom: 32px;
  }
} */
@media screen and (min-width: 767.98px) {
  .experience-item {
  padding-top: 32px;
  }
}

.experience-item.role p,
.experience-item.education p {
  margin-bottom: 10px;
}

.experience-item.role p:last-child,
.experience-item.education p:last-child {
  margin-bottom: 0;
}

.wrapper-item-top {
  display: flex;
  justify-content: space-between;
}

.wrapper-item-top div.buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: transparent;
  padding: 0;
}

.experience h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.button-experience {
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fafafa;
}

.arrow-up{
  transform: rotate(180deg);
}

@media screen and (min-width: 767.98px) {
  .button-experience {
    width: 40px;
    height: 40px;
  }
}
.wrapper-text {
  margin-top: 12px;
}

@media screen and (min-width: 767.98px) {
  .wrapper-text {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1439.98px) {
  .wrapper-text {
    /* width: 680px; */
    padding-right: 68px;
    margin-left: auto;
  }
}

/* .slider-arrow:nth-child(1) {
  transform: rotate(180deg);
} */

.about-me-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 32px;
}

@media screen and (min-width: 767.98px) {
  .about-me-desc {
    margin-bottom: 16px;
  }
}

/* -----------------skills----------------------- */

.skills-container {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 767.98px) {
  .skills-container {
    padding-top: 64px;
  }
}

@media screen and (min-width: 1439.98px) {
  .skills-container {
    padding: 96px 32px 0;
  }
}

.wrapper-button {
  position: relative;
}

.about-swiper {
  overflow: hidden;
  width: 260px;
}

@media screen and (min-width: 767.98px) {
  .about-swiper {
    width: 600px;
  }
}

@media screen and (min-width: 1439.98px) {
  .about-swiper {
    width: 1200px;
  }
}

.skills-list {
  gap: 0px !important;
}

.skills-container .skills-item {
  height: 130px;
  width: 130px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);

  font-weight: 500;

  letter-spacing: -0.02em;
  color: #fafafa;
}

@media screen and (min-width: 767.98px) {
  .skills-container .skills-item {
    height: 200px;
    width: 200px !important;
  }
}

/* .skills-item:first-child {
  background-color: #ed3b44;
} */

.skills-item p {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

@media screen and (min-width: 767.98px) {
  .skills-item p {
    font-size: 20px;
  }
}

.skills-swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #3b3b3b;
}

@media screen and (min-width: 767.98px) {
  .svg-button {
    width: 40px;
    height: 40px;
  }
}

.swiper-slide-active {
  background-color: #ed3b44;
}
