.visually-hidden {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.covers {
  height: 508px;
  overflow: hidden;
  padding: 0;
  backdrop-filter: blur(30px);
  background: rgba(217, 217, 217, 0.04);
  background-image: url(../img/covers/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-resolution: 192dpi) {
  .covers {
    background-image: url(../img/covers/background@2x.png);
  }
}

.covers-projects {
  list-style: none;
}
.cover-item {
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.covers-image {
  display: block;
  width: auto;
  height: 162px;
  object-fit: cover;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}
@media screen and (min-width: 768px) {
  .covers-image {
    height: 314px;
  }
  .covers {
    height: 960px;
  }
}

.row {
  position: relative;
  width: 100%;
  left: -10%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  rotate: 16deg;
}
.covers-rows {
  position: absolute;
  top: -15%;
}
