.faq h1 {
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 32px;
}

.faq-border {
  position: relative;
}

@media screen and (min-width: 1280px) {
  .faq-border::before,
  .faq-border::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: rgba(250, 250, 250, 0.2);
  }
}

.faq-border::before {
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.faq-border::after {
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.faq-border-top::before {
  top: 0;
}

.faq-border-bottom::after {
  bottom: 0;
}

.faq-list {
  display: block;
  padding: 10px 0;
  position: relative;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

@media screen and (min-width: 1280px) {
  .faq-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}

.faq li {
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

@media screen and (min-width: 1280px) {
  .faq li {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    position: relative;
    border-bottom: none;
  }
}

@media screen and (min-width: 1280px) {
  .faq li::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: calc(100% + 20px);
    height: 1px;
    background-color: rgba(250, 250, 250, 0.2);
  }
}

.faq li:nth-child(2n)::after {
  width: calc(100% + 20px);
  left: -20px;
}

.faq li:nth-child(2n):last-child::after {
  display: none;
}

.faq li:nth-last-child(-n + 2)::after {
  display: none;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: unset;
  border: none;
  padding-left: 0px;
  text-align: start;
  max-width: 265px;
}

@media screen and (min-width: 1280px) {
  .heading {
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 26px;
    margin-top: 32px;
    max-width: 574px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .heading {
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 26px;
    margin-top: 32px;
    max-width: calc(100% - 40px);
    padding-right: 60px;
  }
}

.faq p {
  color: rgba(250, 250, 250, 0.6);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
}

.faq use {
  fill: #fff;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.faq-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .faq-heading {
    margin-bottom: 0px;
  }
}

.accordion-btn {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  background-color: rgb(28, 29, 32);
  position: relative;
}

.accordion-btn:hover {
  border: 1px solid rgb(255, 255, 255);
}

@media screen and (min-width: 1280px) {
  .accordion-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    background-color: rgb(28, 29, 32);
    position: relative;
  }
}

.faq svg {
  margin: 0 auto;
}

.is-hidden {
  display: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .faq-content {
    margin-bottom: 24px;
  }
}

.faq-content.is-hidden {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
