.hero {
  padding: 281px 0 32px;
  background-repeat: repeat-y;
  background-position: 0% 0%;
  background-image: url('../img/hero/bg_mobile.png');
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/bg_mobile@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 300px;
    background-image: url('../img/hero/bg_tablet.png');
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/bg_tablet@2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url('../img/hero/bg_desktop.png');
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/bg_desktop@2x.png');
  }
}

.hero-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 212px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;
    margin-bottom: 187px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    width: 1084px;
    margin: 0 auto 243px;
  }
}

.hero-links-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 342px;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .hero-links-list {
    gap: 8px;
    max-width: 473px;
  }
}

.hero-links-item {
  width: 37px;
  height: 37px;
}

@media screen and (min-width: 768px) {
  .hero-links-item {
    width: 55px;
    height: 55px;
  }
}

.hero-item-email {
  flex-grow: 1;
  min-width: 178px;
}

.hero-social-link {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.hero-social-link:hover,
.hero-social-link:focus,
.hero-social-link:active {
  border: 1px solid #fafafa;
}

@media screen and (min-width: 768px) {
  .hero-social-link {
    font-size: 16px;
  }
}
