.hero {
  padding: 281px 0 32px;
  background: linear-gradient(
    90deg,
    #ed3b44 0%,
    #ed3b44 4%,
    #d13840 5%,
    #d13840 9%,
    #bf363d 10%,
    #bf363d 14%,
    #ac3339 15%,
    #ac3339 19%,
    #993036 20%,
    #993036 24%,
    #862d32 25%,
    #862d32 29%,
    #742b30 30%,
    #742b30 34%,
    #69292d 35%,
    #69292d 39%,
    #4e2629 40%,
    #4e2629 44%,
    #3a2226 45%,
    #3a2226 49%,
    #262023 50%,
    #262023 54%,
    #1c1d20 55%,
    #1c1d20 100%
  );
}

.hero-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 212px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;
    margin-bottom: 187px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    margin-bottom: 243px;
  }
}

.hero-links-list {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 342px;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .hero-links-list {
    gap: 8px;
    max-width: 473px;
  }
}

.hero-links-item {
  width: 37px;
  height: 37px;
}

@media screen and (min-width: 768px) {
  .hero-links-item {
    width: 55px;
    height: 55px;
  }
}

.hero-item-email {
  flex-grow: 1;
}

.hero-social-link {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.hero-social-link:hover,
.hero-social-link:focus,
.hero-social-link:active {
  border: 1px solid #fafafa;
}

@media screen and (min-width: 768px) {
  .hero-social-link {
    font-size: 16px;
  }
}
