.reviews-section {
}
.section {
}
.container {
}
.reviews {
  overflow: hidden;
}
.reviews-title {
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  margin-top: 64px;
  margin-bottom: 32px;
}
.reviews-swiper-container {
}
.swiper-container {
}
.reviews-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  margin-bottom: 64px;
}
.swiper-wrapper {
}
.reviews-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.swiper-slide {
}
.reviews-card {
  padding-bottom: 32px;
}
.reviews-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 332px;
  height: 302px;
}

.photo {
  border-radius: 10px;
  margin-bottom: 32px;
  width: 48px;
  height: 48px;
}
.div-reviews-info {
  display: flex;
  flex-direction: column;
}
.reviews-person-name {
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 8px;
}
.reviews-person-info {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  text-align: left;
  overflow: auto;
}
.reviews-button {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.btn-arrow-left {
  transform: rotate(-180deg);
  margin-right: 12px;
}
.arrow-left-icon {
  stroke: #fafafa;
}
.btn-arrow-right {
}
.arrow-right-icon {
  stroke: #fafafa;
}

.btn-arrow-left,
.btn-arrow-right {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: #242424;
  cursor: pointer;
  margin-bottom: 24px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-arrow-left:hover,
.btn-arrow-right:hover {
  background-color: rgba(250, 250, 250, 0.2);
  border-color: rgba(250, 250, 250, 0.8);
}
.disabled {
  color: #3b3b3b;
  background-color: #3b3b3b;
}
.hidden {
  display: none;
}
/*  MOBILE */
@media screen and (min-width: 320px) {
  .reviews-item {
    min-height: 302px;
  }
}

@media screen and (min-width: 320px) {
  .reviews-list {
  }
}
@media screen and (min-width: 320px) {
  .reviews-card {
    /* width: 295px; */
    width: 100%;
  }
}
@media screen and (min-width: 320px) {
  .div-reviews-info {
    /* width: 295px; */
    width: 100%;
    height: 158px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-item:not(:first-child) {
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .reviews-card {
    width: 296px;
  }
}
@media screen and (min-width: 768px) {
  .div-reviews-info {
    width: 296px;
    height: 158px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
  .reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
  }
}

/* DESKTOP (от 768px до 1279px) */
@media (min-width: 768px) and (max-width: 1440px) {
  .reviews-item:nth-child(n + 3) {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .reviews-card {
    width: 284px;
    height: auto;
  }
}
@media screen and (max-width: 1440px) {
  .div-reviews-info {
    width: 284px;
    height: auto;
  }
}

.reviews-item {
}
