.reviews-section {
}
.section {
}
.container {
}
.reviews-title {
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  margin-top: 64px;
  margin-bottom: 32px;
}
.reviews-swiper-container {
}
.swiper-container {
}
.swiper-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  margin-bottom: 64px;
}
.reviews-list {
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
}
.reviews-item {
}
.reviews-card {
}
.photo {
  border-radius: 10px;
  margin-bottom: 32px;
  width: 48px;
  height: 48px;
}
.div-reviews-info {
  display: flex;
  flex-direction: column;
}
.reviews-person-name {
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 8px;
}
.reviews-person-info {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  text-align: left;
  margin-bottom: 20px;
}
.reviews-button {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.btn-arrow-left {
  transform: rotate(-180deg);
  margin-right: 12px;
}
.arrow-left-icon {
  stroke: #fafafa;
}
.btn-arrow-right {
}
.arrow-right-icon {
  stroke: #fafafa;
}

.btn-arrow-left,
.btn-arrow-right {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: #242424;
  cursor: pointer;
  margin-bottom: 24px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-arrow-left:hover,
.btn-arrow-right:hover {
  background-color: rgba(250, 250, 250, 0.2);
  border-color: rgba(250, 250, 250, 0.8);
}

/*  MOBILE */
@media screen and (max-width: 767px) {
}

@media screen and (min-width: 320px) {
  .reviews-list {
  }
}
@media screen and (min-width: 320px) {
  .reviews-card {
    width: 295px;
  }
}
@media screen and (min-width: 320px) {
  .div-reviews-info {
    width: 295px;
    height: 158px;
  }
}
/* TABLET */
@media screen and (min-width: 768px) {
  .reviews-card {
    width: 296px;
  }
}
@media screen and (min-width: 768px) {
  .div-reviews-info {
    width: 296px;
    height: 158px;
  }
}

/* DESKTOP */
@media screen and (max-width: 1440px) {
  .swiper-wrapper {
    gap: 16px;
  }
}
@media screen and (max-width: 1440px) {
  .reviews-card {
    width: 284px;
    height: auto;
  }
}
@media screen and (max-width: 1440px) {
  .div-reviews-info {
    width: 284px;
    height: auto;
  }
}
