.reviews-section {
  margin-left: 32px;
  margin-right: 32px;
}
.container {
  /* Mobile */
  max-width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    /* Tablet */
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    /* Desktop */
    max-width: 1158px;
  }
}

.reviews {
  margin: 0;
  padding: 0;
}
.reviews-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;

  margin-bottom: 32px;
}
.reviews-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}
.reviews-card {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 16px;
}
/* Mobile */
.reviews-card {
  width: 344px;
  height: 346px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .reviews-card {
    width: 704px;
    height: 346px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .reviews-card {
    width: 1376px;
    height: 346px;
  }
}

.photo {
  border-radius: 10px;
  margin-bottom: 32px;
}
.div-reviews-info {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;

  color: rgba(250, 250, 250, 0.6);
  width: 295px;
}
.reviews-person-name {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 8px;
}
.reviews-person-info {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;

  color: rgba(250, 250, 250, 0.6);

  margin-bottom: 20px;
}
.reviews-swiper-container {
  width: 100%;
  height: 100%;
}
.rev-swiper-wrapper {
  width: 100%;
  height: 100%;
}
.rev-swiper-btn-next {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
}
.rev-swiper-btn-prev {
  transform: rotate(-180deg);
}
